{% extends 'base.html' %}

{% block title %}Home{% endblock title %}


{% block body %}
{% now "F" as month %}  
<main>
    <div class="contenedorWidjets">
        <div class="widjetdeIngresos">
            <span class="INGRESOS letras">INGRESOS</span>
            <span class= "letras "> ${{sum_incomes}}</span>      
        </div>
        <div class="widjetdeGastos">
            <span class= "letras gastos">GASTOS<br></span>
            <span class= "letras cantidadGastos">${{sum_expenses}}</span>
        </div>
        <div class="widgetdeBudget">
            <span class= "letras budget">PRESUPUESTO<br></span>
            <span class= "letras cantidadBudget">${{budget_amount}}</span> 
        </div>
    </div>
    <div class="botones-arriba">
        <div class="botones">
            <a href="#" class="botonAgregarIngreso" id="botonAgregarIngreso">
                <span class="textoBotonesMedio">Agregar ingreso</span>
            </a>
            <div class="botonAgregarCategoriaIn">
                <a class="textoBotonesMedio"href="{% url 'budget:category_new' %}">Agregar Categoria</a>
            </div>
        </div>
        <div class="botones">
            <a href="#" class="botonAgregarGasto" id="botonAgregarGasto">
                <span class="textoBotonesMedio"href="#">Agregar Gasto</span>
            </a>
            <div class="botonAgregarCategoriaGas">
                <a class="textoBotonesMedio"href="{% url 'budget:category_new' %}">Agregar Categoria</a>
            </div>
        </div>
    </div>
    <div class="listas">
        <div class="lista-de-ingresos">
            {% for income in incomes %}
            <div class="IngresoLista">
                <div class="cuadradoLista cuadradoIngreso">
                    <span class="textoIngreso">{{income}}</span>
                    {% if income.category %}
                    <span class="textoCategoriaIngreso">{{income.category}}</span>
                    {% else %}
                    <span class="textoCategoriaIngreso">---</span>
                    {% endif %}
                    <span class="textoCantidadIngresoLista">${{income.amount}}</span>
                    <a href="{% url 'budget:income_update' income.pk %}" class="fa-solid fa-screwdriver-wrench iconoEditar"></a>
                    <a href="{% url 'budget:income_delete' income.pk %}" class="fa-regular fa-circle-xmark iconoEliminar"></a> 
                </div>
            </div>
            {% empty %}
            <div class="IngresoLista">
                <div class="cuadradoLista cuadradoIngreso">
                    <span class="textoIngreso">Oye no tienes ningun ingreso este mes, crea uno!</span>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="lista-de-ingresos">
            {% for expense in expenses %}
            <div class="IngresoLista">
                <div class="cuadradoLista cuadradoGasto">
                    <span class="textoIngreso">{{expense}}</span>
                    {% if expense.category %}
                    <span class="textoCategoriaIngreso">{{expense.category}}</span>
                    {% else %}
                    <span class="textoCategoriaIngreso">---</span>
                    {% endif %}
                    <span class="textoCantidadIngresoLista">${{expense.amount}}</span>
                    <a href="{% url 'budget:expense_update' expense.pk %}" class="fa-solid fa-screwdriver-wrench iconoEditar"></a>
                    <a href="{% url 'budget:expense_delete' expense.pk %}" class="fa-regular fa-circle-xmark iconoEliminar"></a> 
                </div>
            </div>
            {% empty %}
            <div class="IngresoLista">
                <div class="cuadradoLista cuadradoGasto">
                    <span class="textoIngreso">Oye no tienes ningun gasto este mes, crea uno!</span>
                </div>
            </div>

            {% endfor %}
        </div>
    <a href="{% url 'budget:list' %}" class="botonVerTodo">
        <span class="verTodo">Ver todo</span>
    </a>
    <div class="popup">
        <div class="popupContent">
            <form action="" method="post">
              {% csrf_token %}
              <input name="name" type="text" maxlength=100 placeholder="Nombre del ingreso">
              <select name="category" id="category">
                  <option value selected>------</option>
                  {% for category in categories %}
                  <option value="{{category.pk}}">{{category.name}}</option>
                  {% endfor %}
              </select>
              <input type="text" name="amount" placeholder="Cantidad">
              <button name="income" type='submit' class="boton" id="boton">Guardar</button>
              <a href="#" class="boton close" id="boton">Cerrar</a>
            </form>
        </div>
    </div>
    <div class="popup2">
        <div class="popupContent2">
            <form action="" method="post">
              {% csrf_token %}
              <input name="name" type="text" maxlength=100 placeholder="Nombre del gasto">
              <select name="category" id="category">
                  <option value selected>------</option>
                  {% for category in categories %}
                  <option value="{{category.pk}}">{{category.name}}</option>
                  {% endfor %}
              </select>
              <input type="text" name="amount" placeholder="Cantidad">
              <button name="expense" type='submit' class="boton" id="boton">Guardar</button>
              <a href="#" class="boton close2" id="boton">Cerrar</a>
            </form>
        </div>
    </div>
    </div>

</main>


<script>
document.getElementById("botonAgregarIngreso").addEventListener("click",function(){
        document.querySelector(".popup").style.display = "flex";
    })
document.querySelector(".close").addEventListener("click",function(){
    document.querySelector(".popup").style.display = "none";
})

document.getElementById("botonAgregarGasto").addEventListener("click",function(){
        document.querySelector(".popup2").style.display = "flex";
    })
document.querySelector(".close2").addEventListener("click",function(){
    document.querySelector(".popup2").style.display = "none";
})
</script>
{% endblock body %}